<footer>
    <div class="footer-container">
        <p>&copy; <span id="year"></span> Oktobia K. Erian. All rights reserved.</p>
        <div class="socials">
            <ul class="nav-links">
                <li><a href="https://github.com/oktobiaerian" target="_blank">GitHub</a></li>
                <li><a href="https://linkedin.com/in/oktobia-erian" target="_blank">LinkedIn</a></li>
                <li><a href="mailto:oktobia.erian@gmail.com">Email Me</a></li>
            </ul>
        </div>
    </div>
</footer>
